* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --purewhite: #E3E3E3;
    --fadedwhite: #B5B5B5;
    --bright-gray: #C5C5C5;
}

body {
    height: 100vh;
    font-size: 16px;
    background-color: #1B2B5B;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px black;
}

header {
    height: 100%;
    width: 100%;
    margin-bottom: 130px;
}

main {
    background-color: #234679;
    max-width: 1440px;
    margin: 0 auto;

}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: linear-gradient(to bottom, #1F3066, #16234D);
    position: fixed;
    width: 100%;
    z-index: 1;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    position: relative;
}

#nav-list a {
    font-size: 16px;
    color: var(--fadedwhite);
    text-decoration: none;
    user-select: none;
    padding: 15px 10px;
}

#nav-list a:hover {
    color: var(--purewhite);
}

#active-line {
    position: absolute; 
    height: 3px;
    background-color: var(--purewhite);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-top: 30px;
}

/* TEXT */
h2 {
    font-family: "Caveat", cursive;
    font-size: 5rem;
    color: var(--purewhite);
    padding-right: 100px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

h3 {
    color: var(--purewhite);
    margin-bottom: 8px;
}

#hero_text-container p {
    color: var(--purewhite);
    font-size: 24px;
    max-width: 700px;
    margin-left: 20px;
}

#about_text-container p {
    color: var(--bright-gray);
    margin-bottom: 10px;
    max-width: 60ch;
}

#toolkit-title {
    color: var(--purewhite);
    text-align: center;
    user-select: none;
}

.toolkit-icons_text {
    color: var(--bright-gray);
    font-size: 0.8rem;
    font-weight: 400;
    user-select: none;
}

.card-description {
    font-size: 0.7rem;
    color: var(--bright-gray);
}

/* SECTIONS */
#hero {
    background-image: url(./images/Hero-img.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 1920px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* #projects {
} */

#contact {
    background-color: #18214D;
    width: 100vw;
    height: 500px;
}
/* CONTAINERS & WRAPPERS */
.title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    width: fit-content;
}

#hero_text-container {
    display: flex;
    flex-direction: column;
    position:relative;
    margin: auto;
}

#about_text-container {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 70px 100px;
}
.content-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.paragraph-container {
    margin-bottom: 10px;
}

#portrait-container {
    flex: 1;
    display: flex;
    align-items: center;
}

#toolkit-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

#toolkit-icons_wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.toolkit-icons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease-out;
}

.toolkit-icons_container:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

#projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    max-width: 300px;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
}

/* SHAPES */
.line {
    background: linear-gradient(to right, var(--purewhite), transparent);
    height: 3px;
    width: 100%;
    position: relative;
    top: -17px;
    margin-left: 5px;
    border-radius: 20px;
}

/* IMAGES & ICONS */
#transition {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
}

.toolkit-icons_img {
    max-height: 40px;
    object-fit: contain;
}

#portrait {
    max-height: 400px;
    width: 100%;
}

.project-image {
    height: 100%;
    max-height: 300px;
}