* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

:root {
    --purewhite: #E3E3E3;
    --fadedwhite: #B5B5B5;
}

body {
height: 100vh;
font-size: 16px;
background-color: #1B2B5B;
font-family: "Montserrat", sans-serif;
text-shadow: 1px 1px black;
}

header {
    height: 100%;
    width: 100%;
}

main {
    background-color: #234679;
    width: 1200px;
    margin: auto;

}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: linear-gradient(to bottom, #1F3066, #16234D);
    position: fixed;
    width: 100%;
    z-index: 1;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 60px;
}

#nav-list a {
    font-size: 18px;
    color: var(--fadedwhite);
    text-decoration: none;
    user-select: none;
    transition: color 0.2s ease-out;
}

#nav-list a:hover {
    color: var(--purewhite);
    transition: color 0.2s ease-out;
}

/* TEXT */
h2 {
    font-family: "Caveat", cursive;
    font-size: 80px;
    color: var(--purewhite);
}

#hero_text-container p {
    color: var(--purewhite);
    font-size: 24px;
    max-width: 700px;
    margin-left: 20px;
}

#toolkit-text {
    color: var(--purewhite);
    text-align: center;
}


/* HERO */
#hero {
    background-image: url(./images/Hero-img.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 1920px;
    display: flex;
    align-items: center;
    margin: auto;
}

#hero_text-container {
    display: flex;
    flex-direction: column;
    position:relative;
    margin: auto;
}

#line {
    background: linear-gradient(to right, var(--purewhite), transparent);
    height: 3px;
    width: 100%;
    position: relative;
    top: -17px;
    margin-left: 12px;
}

/* SECTION - ABOUT */
#about {
    height: 100vh;
    border: 5px solid red;
}

#projects {
    height: 100vh;
    border: 5px solid yellow;
}

#toolkit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#icons-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.icons {
    max-height: 60px;
}